.home-screen-layout{
  width: 100%;
  min-height: 100vh;
}

.todo-container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.todo-title-input{
  width: 100%;
  height: 300px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(57, 82, 161);
  color: #FFF;
}
.app-discription{
  font-size:x-small;
}
.user-txt-input{
  margin-top: 20px;
  background-color: #FFF;
  padding: 1px;
  border-radius: 2px;
}
.user-input-field{

  min-width: 200px;
  border: #FFF;
  height: 40px;
  font-size: medium;
 
}

.user-input-field:focus {

  outline:none
 
}

.btn-for-save{
margin-left: 5px;
  border: #FFF;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: #FFF;
  margin-top: 1px;
  color: rgb(57, 82, 161) ;

}
.btn-for-save:hover{
  background-color: rgb(57, 82, 161) ;
  color: #FFF;
}
